{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Fixx18 Sign Up | Meet people who want what you want</title>
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon.png' %}">

  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/accounts/login.css' %}">
</head>
<body>
  <main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
      <div class="card login-card">
        <div class="row no-gutters">
          <div class="col-md-5">
            <img src="{% static 'images/login.jpg' %}" alt=" fixx18 login" class="login-card-img">
          </div>
          <div class="col-md-7">
            <div class="card-body">
              <div class="brand-wrapper">
                <img src="{% static 'images/favicon.png' %}" alt="fixx18 logo" class="logo">
              </div>
              <p class="login-card-description">Create your account</p>
             
              <form method="post">
                {% csrf_token %}  
                <div class="form-group">
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email address">
                  </div>
                  <div class="form-group">
                    <label for="text" class="sr-only">Username</label>
                    <input type="text" name="username" id="text" class="form-control" placeholder="Username">
                  </div>  
                  <div class="form-group mb-4">
                    <div class="input-group">
                        <label for="password" class="sr-only">Password</label>
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password (8+ characters)">
                        <div class="input-group-append">
                            <span class="input-group-text password-toggle-icon" onclick="togglePasswordVisibility('password')" style="height: 45px;">
                                <i class="mdi mdi-eye" style="font-size: 18px;"></i>
                            </span>
                        </div>
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <div class="input-group">
                        <label for="re_password" class="sr-only">Repeat Password</label>
                        <input type="password" name="re_password" id="re_password" class="form-control" placeholder="Repeat Password">
                        <div class="input-group-append">
                            <span class="input-group-text password-toggle-icon" onclick="togglePasswordVisibility('re_password')" style="height: 45px;">
                                <i class="mdi mdi-eye" style="font-size: 18px;"></i>
                            </span>
                        </div>
                    </div>
                  </div>
                  <div id="password-match-message" class="alert alert-warning" style="display: none;">
                    Passwords do not match!
                  </div>              
                  <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Sign Up">
                </form>
                <a href="#!" class="forgot-password-link">Forgot password?</a>
                <p class="login-card-footer-text">Have an account? <a href="{% url 'account_login'%}" class="text-reset">Login</a></p>
                <nav class="login-card-footer-nav">
                  <a href="#">Terms of use.</a>
                  <a href="#">Privacy policy</a>
                </nav>
            </div>
          </div>
        </div>
      </div>      
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script>
    function togglePasswordVisibility(inputId) {
        const passwordInput = document.getElementById(inputId);
        const icon = passwordInput.nextElementSibling.querySelector('i');

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            icon.classList.remove('mdi-eye');
            icon.classList.add('mdi-eye-off');
        } else {
            passwordInput.type = 'password';
            icon.classList.remove('mdi-eye-off');
            icon.classList.add('mdi-eye');
        }
    }
  </script>

</body>
</html>
