{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Get a Job-Winning Resume and Cover Letter in Seconds with AI | UpdateYourResume</title>
  <meta content="UpdateYourResume helps you create a resume tailored to any job using AI. Get a professional cover letter too!" name="description">
  <meta content="resume, cover letter, AI resume generator, job application" name="keywords">
  <!-- TrustBox script -->
  <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
  <!-- End TrustBox script -->
  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
 
  <!-- Hotjar Tracking Code for https://updateyourresume.xyz -->
  <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:5087390,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
  <!-- Font Awesome -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
rel="stylesheet"
/>
<!-- Google Fonts -->
<link
href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
rel="stylesheet"
/>
<!-- MDB -->
<link
href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.min.css"
rel="stylesheet"
/>

<style>
  .image-container {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
  }

  .image-container a {
      margin: 10px;
  }

  @media (max-width: 768px) {
      .image-container {
          flex-direction: column;
          align-items: center;
      }
  }

  @media (max-width: 480px) {
      .image-container img {
          width: 100%;
          max-width: 300px;
      }
  }
</style>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1>
          <a href="index.html"><img src="{% static "assets/img/logo.png" %}" class="img-fluid" alt="UpdateYourResume Logo">
          </a>
        </h1>
      </div>
      <!-- .navbar -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#features">App Features</a></li>
          {% comment %} <li><a class="nav-link scrollto" href="#gallery">Gallery</a></li> {% endcomment %}
          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
          <li><a class="nav-link scrollto" href="#faq">F.A.Q</a></li>          
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="{% url 'account_login' %}">Login</a></li>

          <li><a class="getstarted scrollto" href="{% url 'generate_resume' %}">Rewrite Resume/CV</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
    </div>    
  </header>
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1 class="display-4 fw-normal mb-3 text-dark">
              Get a job-specific tailored 
              <span style="font-weight: bold; font-size: 1.2em; color: #080059;">Resume</span>
              and a Powerful
              <span style="font-weight: bold; font-size: 1.2em; color: #c79773;">Cover Letter</span>
              in 15 seconds
          </h1>

          <h2>UpdateYourResume uses AI to analyze the job description and transform your resume for the best chance of getting an interview.</h2>
          <a href="{% url 'generate_resume' %}" class="download-btn">Update Resume</a>
          <a href="{% url 'generate_resume' %}" class="download-btn1">Write Cover Letter</a>
          </div>
          
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
          <img src="{% static "assets/img/illust.png"%}" class="img-fluid" alt="">
        </div>
        
      </div>
    </div>
  </section>
  <!-- End Hero -->
    

  <main id="main">
    

    <!-- ======= App Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title">
          <h2>App Features</h2>
          <p>Here's how UpdateYourResume gives you a competitive edge:</p>
        </div>

        <div class="row no-gutters">
          <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up">
                  <i class="bx bx-receipt"></i>
                  <h4>Tailored Resumes</h4>
                  <p>Our AI matches your skills and experience to the specific job requirements.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-cube-alt"></i>
                  <h4>Keyword Optimization</h4>
                  <p>We make sure your resume beats applicant tracking systems (ATS) with the right keywords.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-images"></i>
                  <h4>Custom Templates</h4>
                  <p>Choose from modern, eye-catching resume templates to showcase your background professionally.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-shield"></i>
                  <h4>Confidential and Secure</h4>
                  <p>We understand the importance of your data. All information is processed securely and never shared.</p>
                </div>                              
              </div>
            </div>
          </div>
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static "assets/img/details-2.png" %}" class="img-fluid" alt="">
          </div>
        </div>

      </div>
    </section>
    
    <!-- End App Features Section -->

      <!-- ======= Gallery Section ======= -->
    <!--section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

      </div>

      <div class="container-fluid" data-aos="fade-up">
        <div class="gallery-slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="{% static "assets/img/gallery/gallery-1.png"%}" class="gallery-lightbox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery-1.png" class="img-fluid" alt=""></a></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Gallery Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>See what our users are saying about UpdateYourResume</p>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                {% comment %} <img src="{% static "assets/img/testimonials/testimonials-1.jpg"%}" class="testimonial-img" alt=""> {% endcomment %}
                <h3>Edd Jobs</h3>
                <h4>Software Developer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  UpdateYourResume pinpointed the keywords I needed to get past those pesky applicant tracking systems. I'm finally getting interviews! 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <ul class="list-unstyled d-flex justify-content-center mb-0">
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-warning"></i>
                  </li>
                </ul>
              </div>
            </div> 
            
            <div class="swiper-slide">
              <div class="testimonial-item">
                {% comment %} <img src="{% static "assets/img/testimonials/testimonials-2.jpg"%}" class="testimonial-img" alt=""> {% endcomment %}
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I was skeptical at first, but the AI did a fantastic job tailoring my resume. I've gotten way more callbacks! 
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <ul class="list-unstyled d-flex justify-content-center mb-0">
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                </ul>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-item">
                {% comment %} <img src="{% static "assets/img/testimonials/testimonials-3.jpg"%}" class="testimonial-img" alt=""> {% endcomment %}
                <h3>Lisa Thompson</h3>
                <h4>Marketing Manager</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  UpdateYourResume is a lifesaver! It saved me so much time, and my resume finally highlights my achievements.  
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <ul class="list-unstyled d-flex justify-content-center mb-0">
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-warning"></i>
                  </li>
                </ul>
              </div>
            </div>          

            <div class="swiper-slide">
              <div class="testimonial-item">
                {% comment %} <img src="{% static "assets/img/testimonials/testimonials-5.jpg"%}" class="testimonial-img" alt=""> {% endcomment %}
                <h3>Peter Sam</h3>
                <h4>Designer</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  UpdateYourResume helped me land my dream job! My new resume clearly shows why I'm the best fit.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <ul class="list-unstyled d-flex justify-content-center mb-0">
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="fas fa-star fa-sm text-warning"></i>
                  </li>
                  <li>
                    <i class="far fa-star fa-sm text-warning"></i>
                  </li>
                </ul>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->
        
    <!-- ======= Pricing Section ======= -->

    <section id="pricing" class="pricing" >
        <div class="container">
          <div class="section-title">
            <h2>Pricing</h2>
            <p>Choose the plan that fits your needs.</p>
          </div>          
          <div class="col-xl-11 ms-auto me-auto px-0">            
            <div class="align-items-center justify-content-center row">
                <div class="col-lg-3 col-md-6 py-3">
                    <div class="bg-light border rounded text-secondary">
                        <div class="align-items-center d-flex fw-light h5 justify-content-center pb-4 pe-3 ps-3 pt-4"> <span class="align-self-start">$</span> <span class="display-4 fw-normal text-dark">4</span> <span class="align-self-end">/mo</span> </div>
                        <p class="align-items-center d-flex fw-light p justify-content-center pb-4 pe-3 ps-3">Pay $48 every 12 months</p>
                        <h3 class="fw-normal h4 mb-0 pb-3 pe-2 ps-2 pt-3 text-uppercase text-white"style="background-color: #080059;">Yearly</h3>
                        <div class="pb-5 ps-3 pe-3 pt-4">
                            <ul class="list-unstyled mb-4">
                                <li class="pb-2 pt-2">Unlimited Resumes</li>
                                <li class="pb-2 pt-2">Unlimite CoverLetters</li>
                                <li class="pb-2 pt-2">Unlimited Downloads</li>
                                <li class="pb-2 pt-2">PDF Download format</li>
                                <li class="pb-2 pt-2">24/7 Support</li>
                            </ul> <a href="#" class="btn fw-light pb-2 pe-4 ps-4 pt-2 text-white"style="background-color: #080059;">Upgrade Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 py-3">
                    <div class="bg-light border rounded text-secondary">
                        <div class="align-items-center d-flex fw-light h5 justify-content-center pb-4 ps-3 pe-3 pt-4"> <span class="align-self-start">$</span> <span class="display-4 fw-normal text-dark">10</span> <span class="align-self-end">/mo</span> </div>
                        <p class="align-items-center d-flex fw-light p justify-content-center pb-4 pe-3 ps-3">Pay $10 every month</p>
                        <h3 class="fw-normal h4 mb-0 pb-3 pe-2 ps-2 pt-3 text-uppercase text-white" style="background-color: #c79773;">Monthly</h3>
                        <div class="pb-5 ps-3 pe-3 pt-4">
                            <ul class="list-unstyled mb-4">
                                <li class="pb-2 pt-2">Unlimited Resumes</li>
                                <li class="pb-2 pt-2">Unlimited Cover Letter</li>
                                <li class="pb-2 pt-2">Unlimited Downloads</li>
                                <li class="pb-2 pt-2">Pdf Download formats</li>
                                <li class="pb-2 pt-2">24/7 Support</li>
                            </ul> <a href="#" class="btn fw-light pb-2 ps-4 pe-4 pt-2 text-white"style="background-color: #c79773;">Upgrade Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 py-3 position-relative">
                  <div class="bg-light border rounded text-secondary">
                      <div class="align-items-center d-flex fw-light h5 justify-content-center pb-4 ps-3 pe-3 pt-4">
                          <span class="align-self-start">$</span>
                          <span class="display-4 fw-normal text-dark">8</span>
                          <span class="align-self-end">/mo</span>
                      </div>
                      <p class="align-items-center d-flex fw-light justify-content-center pb-4 pe-3 ps-3">Pay $24 every 3 months</p>
                      <h3 class="fw-normal h4 mb-0 pb-3 pe-2 ps-2 pt-3 text-uppercase text-white" style="background-color: #080059;">quarterly</h3>
                      <div class="pb-5 ps-3 pe-3 pt-4">
                          <ul class="list-unstyled mb-4">
                              <li class="pb-2 pt-2">Unlimited Resumes</li>
                              <li class="pb-2 pt-2">Unlimited Cover Letters</li>
                              <li class="pb-2 pt-2">Unlimited Downloads</li>
                              <li class="pb-2 pt-2">Pdf Download formats</li>
                              <li class="pb-2 pt-2">24/7 Support</li>
                          </ul>
                          <a href="#" class="btn fw-light pb-2 ps-4 pe-4 pt-2 text-white" style="background-color: #080059;">Upgrade Now</a>
                      </div>
                  </div>
                  <div class="badge bg-danger text-white position-absolute top-0 start-0 m-2 p-2 rounded">Most Popular</div>
              </div>
              
                <div class="col-lg-3 col-md-6 py-3">
                    <div class="bg-light border rounded text-secondary">
                        <div class="align-items-center d-flex fw-light h5 justify-content-center pb-4 ps-3 pe-3 pt-4"> <span class="align-self-start">$</span> <span class="display-4 fw-normal text-dark">0</span> <span class="align-self-end">/mo</span> </div>
                        <p class="align-items-center d-flex fw-light p justify-content-center pb-4 pe-3 ps-3">Pay $0 for ever</p>
                        <h3 class="fw-normal h4 mb-0 pb-3 pe-2 ps-2 pt-3 text-uppercase text-white" style="background-color: #c79773;">Free</h3>
                        <div class="pb-5 ps-3 pe-3 pt-4">
                            <ul class="list-unstyled mb-4">
                                <li class="pb-2 pt-2">5 Resumes</li>
                                <li class="pb-2 pt-2">5 Cover Letter</li>
                                <li class="pb-2 pt-2">Unlimited Downloads</li>
                                <li class="pb-2 pt-2">Pdf Download formats</li>
                                <li class="pb-2 pt-2">24/7 Support</li>
                            </ul> 
                            <button type="submit" class="btn fw-light pb-2 ps-4 pe-4 pt-2 text-white" style="background-color: #c79773;" onclick="payWithPaystack()"> Sign Up </button>

                        </div>
                    </div>
                  </div>
            </div>
        </div>
      </div>
    </section>

    <!--section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title">
          <h2>Pricing</h2>
          <p>Choose the plan that fits your needs.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-4 box" data-aos="fade-right">
            <h3>Daily Pass</h3>
            <h4>$2<span>per Day</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Basic resume tailoring</li>
              <li><i class="bx bx-check"></i> Limited template selection</li>
              <li><i class="bx bx-check"></i> Limited Downloads</li>
              <li><i class="bx bx-check"></i> Upto 5 Resumes</li>
              <li class="na"><i class="bx bx-x"></i> <span>Cover letter generation</span></li>
              <li class="na"><i class="bx bx-x"></i> <span>Keyword optimization</span></li>

            </ul>
            <a href="#" class="get-started-btn">Get Started</a>        </div>

          <div class="col-lg-4 box featured" data-aos="fade-up">
            <h3>Pro</h3>
            <h4>$19<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Upto 50 Resumes</li>
              <li><i class="bx bx-check"></i> Advanced resume tailoring</li>
              <li><i class="bx bx-check"></i> Wide range of templates</li>
              <li><i class="bx bx-check"></i> Cover letter generation</li>
              <li><i class="bx bx-check"></i> Keyword optimization</li>
              <li><i class="bx bx-check"></i> Unlimited Downloads</li>
            </ul>
            <a href="#" class="get-started-btn">Get Started</a>
          </div>

          <div class="col-lg-4 box" data-aos="fade-left">
            <h3>Business</h3>
            <h4>$39<span>per month</span></h4>
            <ul>
              <li><i class="bx bx-check"></i> Unlimited Resumes</li>
              <li><i class="bx bx-check"></i> Advanced resume tailoring</li>
              <li><i class="bx bx-check"></i> Wide range of templates</li>
              <li><i class="bx bx-check"></i> Cover letter generation</li>
              <li><i class="bx bx-check"></i> Keyword optimization</li>
              <li><i class="bx bx-check"></i> Unlimited Downloads</li>

            </ul>
            <a href="#" class="get-started-btn">Get Started</a>   </div>

        </div>

      </div>
    </section--><!-- End Pricing Section -->
  
    <!-- ======= Featured Section ======= -->  
  <section style="display: flex; flex-direction: column; justify-content: center; align-items: center;  text-align: center;">
    <h2>As Featured</h2>
    <div class="image-container">
        <a href="https://www.aitechsuite.com/tools/17244?ref=featured&v=56" target="_blank" rel="nofollow">
            <img width="180" src="https://aitsmarketing.s3.amazonaws.com/aits-verified-tool.svg?width=600"/>
        </a>
        <a href="https://www.ainave.com/updateyourresume?utm_source=ainave&utm_medium=embed&ref=ainave" style="width: 120px; height: 54px;" width="120" height="54">
          <img src="https://www.ainave.com/img/featured_tool.svg" alt="UpdateYourResume | Featured on ainave" style="width: 120px; height: 54px;" width="120" height="54">
        </a>
        
        <a href="https://aitools.fyi/updateyourresume?utm_source=updateyourresume_embed" target="_blank" >
          <img src="https://aitools.fyi/api/tool-embed/8748" alt="UpdateYourResume | aitools.fyi" style="width: 180px; height: 54px;" width="180" height="54"/>
        </a>
        <a href="https://www.toolify.ai/tool/updateyourresume/?ref=embed" target="_blank" style="cursor: pointer;"><img src="https://cdn.toolify.ai/featured_light.svg" style="width: 200px; height: 60px;" width="250" height="60" alt="UpdateYourResume: Revamp your resume in seconds with AI-powered matching."></a>       
    
        <!-- topAI.tools Spotlight -->
        <a href="https://topai.tools/t/updateyourresume?ref=embed"><img src="https://topai.tools/assets/img/topai.tools.gif" style="max-width:220px;max-height:80px" alt="UpdateYourResume Featured on topAI.tools"></a>
    
      </div>
</section>

<!-- ======= Review Us Section ======= -->
<section style="display: flex; flex-direction: column; justify-content: center; align-items: center;  text-align: center;">
  <h2>Review Us </h2>
  <div style="display: flex; justify-content: center; gap: 20px;">
             
      <!-- TrustBox widget - Review Collector -->
      <div class="trustpilot-widget" data-locale="en-US" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="669aff3c4f3dfbc3a06fce10" data-style-height="52px" data-style-width="100%">
        <a href="https://www.trustpilot.com/review/updateyourresume.xyz" target="_blank" rel="noopener">Trustpilot</a>
      </div>
      <!-- End TrustBox widget -->
  </div>
</section>


    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">

          <h2>Frequently Asked Questions</h2>
          <p>
            Our AI analyzes thousands of resumes and job descriptions. It learns the language and patterns that make successful resumes stand out for specific job titles. 
          </p> 
          </div>

        <div class="accordion-list">
          <ul>            
            <li data-aos="fade-up">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1">How does the AI work? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">
                <p>
                  Our AI analyzes thousands of resumes and job descriptions. It learns the language and patterns that make successful resumes stand out for specific job titles.  
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed">Is my information secure? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Absolutely! We employ industry-standard encryption and security measures.  Your data is never shared with third parties.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed">Can I use my existing resume? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Yes! You can upload your resume, and UpdateYourResume will analyze it to provide tailored suggestions and edits.
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="300">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-4" class="collapsed">What if I'm not happy with the results? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-4" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  We offer a satisfaction guarantee. If you're not happy, please contact our support team, and we'll work with you to refine your resume. 
                </p>
              </div>
            </li>

            <li data-aos="fade-up" data-aos-delay="400">
              <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#accordion-list-5" class="collapsed">Is there a free trial? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
              <div id="accordion-list-5" class="collapse" data-bs-parent=".accordion-list">
                <p>
                  Yes, we offer a free trial so you can experience the power of UpdateYourResume before signing up for a paid plan.
                </p>
              </div>
            </li>

          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Reach out to us.</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-6 info">
                <i class="bx bx-map"></i>
                <h4>Address</h4>
                <p>hello@updateyourresume.xyz<br></p>
              </div>
              <div class="col-lg-6 info">
                <i class="bx bx-phone"></i>
                <h4>Call Us</h4>
                <p>+254 7922340065<br></p>
              </div>
              <div class="col-lg-6 info">
                <i class="bx bx-envelope"></i>
                <h4>Email Us</h4>
                <p>hello@updateyourresume.xyz<br>info@updateyourresume.xyz</p>
              </div>
              <div class="col-lg-6 info">
                <i class="bx bx-time-five"></i>
                <h4>Working Hours</h4>
                <p>Mon - Fri: 9AM to 5PM<br>Sunday: 9AM to 1PM</p>
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-up">
              <div class="form-group">
                <input placeholder="Your Name" type="text" name="name" class="form-control" id="name" required>
              </div>
              <div class="form-group mt-3">
                <input placeholder="Your Email" type="email" class="form-control" name="email" id="email" required>
              </div>
              <div class="form-group mt-3">
                <input placeholder="Subject" type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea placeholder="Message" class="form-control" name="message" rows="5" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-newsletter">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h4>Join Our Newsletter</h4>
            <p>Get to learn what's new in the Job seeking world</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>UpdateYourResume</h3>
            <p>
              Nairobi CBD <br>
              Nairobi<br>
              Kenya <br><br>
              <strong>Phone:</strong> +254 792234006<br>
              <strong>Email:</strong> hello@updateyourresume.xyz<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Resume Revamp</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Resume Writing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Cover Letter Writing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Resume Optimization</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Resume Templates</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <p>Get in touch with us through social media</p>
            <div class="social-links mt-3">
              <!--a href="#" class="twitter"><i class="bx bxl-twitter"></i></a-->
              <a href="https://web.facebook.com/profile.php?viewas=100000686899395&id=61554308647702" class="facebook"><i class="bx bxl-facebook"></i></a>
              <!--a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a-->
              <a href="https://www.linkedin.com/company/updateyourresume/?viewAsMember=true" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container py-4">
    <div class="copyright">
      &copy; Copyright <strong><span>UpdateYourResume</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
           Designed by <a href="www.updateyourresume.xyz/">UpdateYourResume</a>
    </div>
  </div>
    

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
</footer>
<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.3.2/mdb.umd.min.js"
></script>
<script>
  const prices = {
      student: { weekly: { price: 0, label: '/ per week' }, monthly: { price: 0, label: '/ per month' }, quarterly: { price: 0, label: '/ per quarter' } },
      newbie: { weekly: { price: 3, label: '/ per week' }, monthly: { price: 5, label: '/ per month' }, quarterly: { price: 12, label: '/ per quarter' } },
      professional: { weekly: { price: 5, label: '/ per week' }, monthly: { price: 10, label: '/ per month' }, quarterly: { price: 24, label: '/ per quarter' } },
      business: { weekly: { price: 15, label: '/ per week' }, monthly: { price: 30, label: '/ per month' }, quarterly: { price: 72, label: '/ per quarter' } }
  };
  
  document.querySelectorAll('.col-lg-3').forEach(card => {
      card.style.display = 'weekly';
  });
  
  document.querySelector('.toggle-btns').addEventListener('click', function(event) {
      if (event.target.id === 'weeklyBtn' || event.target.id === 'monthlyBtn' || event.target.id === 'quarterlyBtn') {
          togglePrice(event.target.id.replace('Btn', ''));
      }
  });
  
  function togglePrice(duration) {
      document.querySelectorAll('.col-lg-3').forEach(card => {
          card.style.display = 'none';
      });
  
      const activeButton = document.querySelector('.toggle-btns .active');
      activeButton.classList.remove('active');
  
      const selectedButton = document.getElementById(`${duration}Btn`);
      selectedButton.classList.add('active');
  
      document.querySelectorAll('.col-lg-3').forEach(card => {
          const packageName = card.querySelector('h3').textContent.toLowerCase();
          const price = prices[packageName][duration].price;
          const label = prices[packageName][duration].label;
  
          card.querySelector('.display-4').textContent = price;
          card.querySelector('.align-self-end').textContent = label;
          card.style.display = 'block';
      });
  }
  
</script>
 <!-- Vendor JS Files -->
<script src="{% static 'assets/vendor/aos/aos.js'%}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
<script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
<script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

<!-- Template Main JS File -->
<script src="{% static 'assets/js/main.js'%}"></script>
</body>

</html>