{% extends 'base.html' %}
{% load static %}

{% block title %}Cover Letter | Updateyourresume {% endblock %}
{% block link %}
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> 
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/updateyourresumefavicon.png' %}">  
    <link rel="stylesheet" type="text/css" href="{% static 'cover_letter.css' %}">
   
{% endblock %}

{% block content %}

<div class="container">
    <h1>Generated Cover Letter</h1>
    <div class="cover-letter">
        <p>{{ cover_letter.generated_text }}</p>
        <div class="download-link">
            <button class="btn btn-dark" onclick="downloadResume()">Download Cover Letter</button>            
            <button class="btn btn-primary text-light" ><a class="text-light"href="{% url 'home'%}">Back to Dashboard</a></button>
        </div>
    </div>
</div>
   
{% endblock %}

