{% load static %}

<!Doctype html>
<html>
<head>
    <title>Harvard Template - Updateyourresume</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/updateyourresumefavicon.png' %}">  
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'havard.css' %}">
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="{% static 'js/download.js' %}"></script>
    <style>    
        .resume-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .resume-container {
            max-width: 800px;
            margin: 0 auto;
            padding: 0px;
            font-size: 12px;
            background: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
</style>

</head>
<body>
    <div class="resume-wrapper" id = "resumeWrapper">
        <div class="resume-container" id ="resumeContainer">
            <div class="profile text-center">
                <div class="info"> 
                    <h2 class="name" contenteditable="true">{{generated_text.name}}</h2>
                    <h4 class="title" contenteditable="true">{{resume.job_title}}</h4>
                    <p class="contact" contenteditable="true">
                        {{generated_text.contactDetails.phone}} | {{generated_text.contactDetails.email}} | <a href="{{generated_text.contactDetails.linkedin}}">LinkedIn</a>
                    </p>
                </div>
            </div>
            <section class="summary">
                <h2>Summary</h2>
                <p contenteditable=True >{{generated_text.summary}}</p>
            </section>
            <section class="education">
                <h2>Education</h2>
                {% for education in generated_text.education %}
                <div class="school" contenteditable="true">
                    <h5>{{education.school}}</h5>
                    <p>{{education.level}} | {{education.dates}}</p>
                </div>
                {% endfor %}
            </section>
            <section class="experience">
                <h2>Experience</h2>
                {% for experience in generated_text.experience %}
                <div class="job">
                    <h5 contenteditable="true">{{experience.title}}</h5>
                    <p contenteditable="true">{{experience.company}} | {{experience.dates}}</p>
                    <ul>
                        {% for responsibility in experience.responsibilities %}
                        <li contenteditable="true">{{responsibility}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endfor %}
            </section>
            <section class="skills">
                <h2>Skills</h2>
                <ul class="skills-list">
                    {% for skill in generated_text.skills %}
                    <button class="btn btn-light  btn-sm" contenteditable="true">{{skill}},</button>
                    {% endfor %}
                </ul>
            </section>
            <section class="interests">
                <h2>Interests</h2>
                <ul class="interests-list">
                    {% for interest in generated_text.interests %}
                    <button class="btn btn-light  btn-sm" contenteditable="true">{{interest}},</button>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
</body>
</html>





