{% extends 'base.html' %}
{% load static %}

{% block title %}Harvard Template - Updateyourresume {% endblock %}
{% block link %}
  <!-- Hotjar Tracking Code for https://updateyourresume.xyz -->
  <script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:5087390,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="{% static 'havard.css' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'icons/updateyourresumefavicon.png' %}">  
   
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="{% static 'js/download.js' %}"></script>
{% endblock %}

{% block content %}

<div class="resume-wrapper" id = "resumeWrapper">
<div class="resume-container" id ="resumeContainer">

  <!-- Profile section -->
  <div class="profile text-center">
    {% comment %} <img src="profile.png" class="photo"> {% endcomment %}
    <div class="info"> 
      <h2 class="name" contenteditable="true">{{generated_text.name}}</h2>
      <h4 class="title" contenteditable="true">{{resume.job_title}}</h4>
      <p class="contact" contenteditable="true">
        {{generated_text.contactDetails.phone}} | {{generated_text.contactDetails.email}} | <a href="{{generated_text.contactDetails.linkedin}}">LinkedIn</a>
      </p>
    </div>
  </div>

  <!-- Summary section -->
  <section class="summary">
    <h2>Summary</h2>
    <p contenteditable=True >{{generated_text.summary}}</p>
  </section>

  <!-- Education section -->
  <section class="education">
    <h2>Education</h2>
    {% for education in generated_text.education %}
    <div class="school" contenteditable="true">
      <h5>{{education.school}}</h5>
      <p>{{education.level}} | {{education.dates}}</p>
    </div>
    {% endfor %}
  </section>

  <!-- Experience section -->
  <section class="experience">
    <h2>Experience</h2>
    {% for experience in generated_text.experience %}
    <div class="job">
      <h5 contenteditable="true">{{experience.title}}</h5>
      <p contenteditable="true">{{experience.company}} | {{experience.dates}}</p>
      <ul>
        {% for responsibility in experience.responsibilities %}
        <li contenteditable="true">{{responsibility}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </section>

  <!-- Skills section -->
  <section class="skills">
    <h2>Skills</h2>
    <ul class="skills-list">
      {% for skill in generated_text.skills %}
      <button class="btn btn-light  btn-sm" contenteditable="true">{{skill}}</button>
      {% endfor %}
    </ul>
  </section>

  <!-- Interests section -->
  <section class="interests">
    <h2>Interests</h2>
    <ul class="interests-list">
      {% for interest in generated_text.interests %}
      <button class="btn btn-light  btn-sm" contenteditable="true">{{interest}}</button>
      {% endfor %}
    </ul>
  </section>

</div>
</div>
<div class="text-center">
  <a href="{% url 'generate_pdf' resume_id=resume_id %}" target="_blank">
    <button class="btn btn-dark text-center"style="background-color: white; color: #080059;">PDF Download <i class="fa-solid fa-file-pdf"></i></button>
</a>  
<a href="{% url 'generate_cover_letter' resume_id=resume_id %}">
   <button class=" btn btn-primary text-center" style="background-color: #080059; color: white;">Generate Cover Letter</button>
</a>
</div>


{% endblock %}







