{% extends 'base.html' %}
{% load static %}

{% block title %} Free Resume Templates | UpdateYourResume {% endblock title %}

{% block content %}

<div class="container mt-5">

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card">
        <a href="{% url 'business_resume'%}"><img src="{% static 'img/business.png' %}" class="card-img-top" width="300" height="400"></a>

        <div class="card-body">
          <h5 class="card-title">Business Resume</h5>
          <p class="card-text">For careers in business professions.</p>
          <a href="{% url 'business_resume'%}" class="btn btn-dark text-white">Select</a> 
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">  
      <div class="card bg-primary text-white">
        <a href="{% url 'science_resume'%}"><img src="{% static 'img/science.png' %}" class="card-img-top" width="300" height="400"></a>

        <div class="card-body">
          <h5 class="card-title">Science Resume</h5>
          <p class="card-text">For careers in science and Maths.</p>
          <a href="{% url 'science_resume'%}" class="btn btn-light ">Select</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4">
      <div class="card bg-primary text-white">
        <a href="{% url 'tech_resume'%}"><img src="{% static 'img/tech.png' %}" class="card-img-top" width="300" height="400"></a>

        <div class="card-body">
          <h5 class="card-title">Tech Resume</h5>
          <p class="card-text">For careers in tech.</p>
          <a href="{% url 'tech_resume'%}" class="btn btn-dark text-white">Select</a>
        </div>
      </div>
    </div>
    
  </div>

</div>
{% endblock %}